# Temp files
~$*
*~
.directory

# Generated documentation
docs/html/

# Build results
*.cmake
CMakeCache*
CMakeFiles/*
bin/*
!bin/*.md
obj/*
!obj/*.md
*.o
*.gch
*.output

# User-specific files
*.user

#Editor-specific files
.idea/*
.vscode/*

# Output files (generated cpp)
tests/*.cpp